
.nav-link {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    width: 40%;
    position: relative;
    right: -100px;
    padding: 8px;
}
    
.nav-link li{
    list-style: none;
}  
        .nav-link li :hover{
            text-decoration: line-through;
            text-decoration-color: rgba(253, 253, 13, 0.815);
        }

        
    .nav-link a{
        color: rgba(253, 253, 13, 0.815);
        text-decoration:none;
        font-size: 20px;
        padding: 6px;
        }

#nav-kund{
    position: relative;
    top: -3px;
    background-color: rgb(102, 100, 86);
    border-radius: 2px;
    border: 1px solid;
    padding: 8px;
    cursor: pointer;
}


.logo {
    color: rgba(253, 253, 13, 0.815);
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;

    /* jello animation */
    animation: jello-horizontal 0.8s both;
    /* jello animation */
        @keyframes jello-horizontal {
            0% {
                transform: scale3d(1, 1, 1);
            }
            30% {
                transform: scale3d(1.25, 0.75, 1);
            }
            40% {
                transform: scale3d(0.75, 1.25, 1);
            }
            50% {
                transform: scale3d(1.15, 0.85, 1);
            }
            65% {
                transform: scale3d(0.95, 1.05, 1);
            }
            75% {
                transform: scale3d(1.05, 0.95, 1);
            }
            100% {
                transform: scale3d(1, 1, 1);
            }
        } 
    }