$primaryColor: rgba(253, 253, 13, 0.815);
$secondaryColor: rgb(46, 64, 78);
$blur:rgba(0, 0, 0, 0.3);

$font-size: (
    "logo": 30px,
    "navbar": 20px,
    "välkommen": 38px,
    "h1": 20px,
    "h2": 15px,
    "p": 12px
);